<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet Center CRe</title>

    </head>
    <body>
        <nav th:replace="~{layout/components :: navbar }"></nav>

        <div class="row row-cols-3 mt-4">

            <!-- apartado usuarios -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.usuarios}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reporte/usuarios?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reporte/usuarios?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reporte/usuarios?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reporte/usuarios?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>
            <!-- apartado productos -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.productos}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reporte/productos?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reporte/productos?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reporte/productos?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reporte/productos?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>





        </div>

        <footer th:replace="~{layout/components :: footer }"></footer>

    </body>
</html>
