
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:replace="~{layout/components :: navbar }"></nav>

        <div class="row row-cols-3 mt-4">

            <!-- apartado usuarios -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.usuarios}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reportes/usuarios?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reportes/usuarios?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reportes/usuarios?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reportes/usuarios?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>
            <!-- apartado productos -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.productos}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reportes/productos?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reportes/productos?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reportes/productos?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reportes/productos?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>
            <!-- apartado ventas -->

            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.ventas}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reportes/ventas?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reportes/ventas?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reportes/ventas?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reportes/ventas?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>
            <!-- apartado ventas totales -->

            <div class="card">
                <div class="card-header text-center">
                    Ventas totales
                </div>
                <div class="card-body">
                    <div class="card-header">
                        <h4>Ventas Totales</h4>
                    </div>
                    <div class="card-body">
                        <form method="GET"
                              th:action="@{/reportes/ventasTotales}" 
                              class="was-validated">

                            <div class="mb-3">
                                <label for="fechaInicio">Fecha Inicio</label>
                                <input type="date" class="form-control" 
                                       name="fechaInicio"
                                       th:value="${fechaInicio}"
                                       required="true"/>
                            </div>                                
                            <div class="mb-3">
                                <label for="fechaFin">Fecha Fin</label>
                                <input type="date" class="form-control" 
                                       name="fechaFin"
                                       th:value="${fechaFin}"
                                       required="true"/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 d-grid">
                                    <button name="tipo" 
                                            value="vPdf" 
                                            type="submit" 
                                            class="btn btn-primary">
                                        <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                                    </button>
                                </div>
                                <div class="col-md-3 d-grid">    
                                    <button name="tipo" value="Pdf" type="submit" class="btn btn-success">
                                        <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                                    </button>
                                </div>
                                <div class="col-md-3 d-grid">    
                                    <button name="tipo" value="Xls" type="submit" class="btn btn-warning">
                                        <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                                    </button>
                                </div>
                                <div class="col-md-3 d-grid">    
                                    <button name="tipo" value="Xls" type="submit" class="btn btn-danger">
                                        <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- apartado categorias -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>[[#{reporte.categorias}]] </h5>                   
                </div>
                <div class="card-body">

                    <a th:href="@{/reportes/categorias?tipo=vPdf}"
                       class="btn btn-primary">
                        <i class="fas fa-eye"></i>
                        <i class="fas fa-file-pdf"></i>                      
                    </a>
                    <a th:href="@{/reportes/categorias?tipo=Pdf}"
                       class="btn btn-success">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a th:href="@{/reportes/categorias?tipo=Xls}"
                       class="btn btn-warning">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-excel"></i>
                    </a>
                    <a th:href="@{/reportes/categorias?tipo=Csv}"
                       class="btn btn-danger">
                        <i class="fas fa-download"></i>
                        <i class="fas fa-file-csv"></i>

                    </a>
                </div>
            </div>


        </div>

        <footer th:replace="~{layout/components :: footer }"></footer>

    </body>
</html>
