<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet center</title>
    </head> 
    <body>
        <nav th:replace="~{layout/components :: navbar }"></nav>
        <main>
            <section class="pedidos text-center">
                <h2>[[#{pedidos.title}]]</h2>
            </section>
            <section class="py-5">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nombre del articulo</h5>
                            <p class="card-text">Informacion sobre los pedidos</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
            </section>


            </section>



        </main>
        <footer th:replace="~{layout/components :: footer }"></footer>
    </body>
</html>
