.barralateral{
 
    height: 95%;
    top: 30%;
    left: 3%;
    width: 20%;    
    padding: 10px;

    border-radius: 10px; /* Redondea los bordes */
}


.contenedor{
    display: flex;
    width: 98%;
}

.button-art{
    background-color: #085182;
    border: none;
    width: 7em;
    height: 3em;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.button-art2{
    background-color: #085182;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}


#li-1{
  list-style: none;

}


#a-1{
  text-decoration: none;
}
#contenido{

    height: 300%;
    top: 30%;
    left: 25%;
    width: 75%;
    background-color: white;
    padding: 10px;
    
}

.productos-lista{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

br{
    line-height: 3;
}

.art-btn2-fil{
    width: 13em;
    background-color: #085182;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.art-btn2-fil:hover{
    background-color: #393276;
}



.art-btn1-fil{
    
    color: #085182;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    border-color: #085182;    
}

.art-btn1-fil:hover{
    background-color: #393276;
}
