
.ayuda *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.ayuda body{
    font-family: 'Exo 2', sans-serif;
}

. ayuda section{
    
    width: 700px;
    padding: 50px;
    background-position: center;
    margin: auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ayuda summary{
    background: #131921;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}
.ayuda p{
    padding: 10px;
    background: white;
    color: #757575;
}


