
.fotoAyuda{
    padding: 6%;
    background-image: linear-gradient(to bottom, white, #003050), url("../img/ayuda.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.ayuda{
    margin: 0;
    padding: 70px;
    width: 700px;
    background-position: center;
    background: #eeeeee;
    margin-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.p{
     padding: 10px;
    background: white;
    color: #757575;
}
body{
    font-family: 'Exo 2', sans-serif;
}

summary{
    background: #131921;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}


