/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 1, 2023, 12:39:06 PM
    Author     : Arman
*/


.profilename{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center; /* Center the content horizontally */
    background-color: #232f3e;
    margin: 0;
    color: #ffffff;

}

.profileContainer{
    display: grid;
    grid-template-columns: 2fr 4fr;

}

.red-column {

}

.blue-column {

}