.icon{
    width:70%;
    padding: 10px;
}

/*
.icon{
    width:12%;
    padding: 10px;
}
*/

/*
.form-control{
    width: 75%;
}
.list-opt{
    margin-right: 5%;
}
*/
.list-opt > li{
    margin: 15px;
}

