<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!--Head fragment-->
    <head th:fragment="head">
        <title>Outlet center</title>
        <!--Metas-->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--links-->
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="png" href="/img/favicon.png"/>
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
            <link href="../../static/csc/normalize.css" rel="stylesheet" type="text/css"/>
            <link href="/csc/styles.css" rel="stylesheet" type="text/css"/>
            <link href="/csc/login.css" rel="stylesheet" type="text/css"/>
            <link href="/csc/profile.css" rel="stylesheet" type="text/css"/>
            <link href="/csc/pedidos.css" rel="stylesheet" type="text/css"/>
            <link href="/csc/ayuda.css" rel="stylesheet" type="text/css"/>
            <link href="csc/articulos.css" rel="stylesheet" type="text/css"/>


            <!--Scripts-->
            <script th:src="@{/js/rutinas.js}"></script>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <!--Navbar fragment-->
        <div th:fragment="navbar">
            <header class="navbar navbar-expand-lg">
                <div class="container-fluid ">
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="/img/outlet-center.png" class="icon" alt="outlet-center">
                    </a>
                    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form  class="d-flex align-items-center" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                            <li sec:authorize='isAuthenticated()' class="shopping-cart py-2 d-flex align-items-center text-light">
                                <i class="fa-solid fa-cart-shopping mx-1"></i>
                                <span>[[#{carrito.carrito}]]</span>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                   aria-expanded="false">[[#{plantilla.idioma}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/(lang=es)}"><span
                                                class="flag-icon flag-icon-es flag-icon-squared"></span> ES</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}"><span
                                                class="flag-icon flag-icon-us flag-icon-squared"></span> EN</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a sec:authorize='!isAuthenticated()' class="nav-link " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    <div class="d-flex flex-column">
                                        <span class="class ">[[#{encabezado.saludo}]]<span class="px-1">[[#{login.accede}]]</span></span>
                                        <span class="class dropdown-toggle">[[#{encabezado.config}]]</span>
                                    </div>
                                </a>
                                <a sec:authorize='isAuthenticated()' class="nav-link " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    <div class="d-flex flex-column">
                                        <span class="class ">[[#{encabezado.saludo}]]<span class="px-1" sec:authentication='name'></span></span>
                                        <span class="class dropdown-toggle">[[#{encabezado.config}]]</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                                        <li class="nav-item px-2">
                                            <a class="nav-menu-link nav-link" th:href="@{/login}"> <!--Corregir-->
                                                <i class='fas fa-sign-in-alt'> <span>[[#{login.login}]]</span></i>
                                            </a>
                                        </li>                            
                                    </ul>
                                    <div sec:authorize='isAuthenticated()'>
                                        <li><a class="dropdown-item" th:href="@{/profile}"><i class="fa-solid fa-user"
                                                                                              style="margin-right: 20px;"></i>[[#{encabezado.cuenta}]]</a>
                                        </li>

                                        <li> <!--Corregir-->
                                            <form method="post" th:action="@{/logout}">
                                                <button style="width: 100%">
                                                    <i class="fas fa-sign-out-alt"> [[#{login.salir}]]</i>
                                                </button>
                                            </form>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </header>
            <nav class="navbar navbar-expand-lg">
                <div class="menu px-5 text-light" data-bs-toggle="offcanvas" data-bs-target="#all-menu"
                     aria-controls="all-menu">
                    <i class="fa-solid fa-bars"></i>
                    <span>[[#{barra.opciones}]]</span>
                </div>
            </nav>
            <section>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="all-menu" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <img src="/img/outlet-center.png" class="icon" alt="outlet-center">
                            <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body"> <!--Menu-->
                        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                            <div class="container-fluid">
                                <div>
                                    <ul class="navbar-nav d-flex flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" th:href="@{/articulos}">[[#{admin.tienda}]]</a>
                                        </li>
                                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                                            <a class="nav-link active" th:href="@{/pedidos}">[[#{user.ordenes}]]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" th:href="@{/nosotros}">[[#{barra.nosotros}]]</a>
                                        </li>
                                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                                            <a class="nav-link active" th:href="@{/deseos}">[[#{barra.deseos}]]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" th:href="@{/ayuda}">[[#{barra.ayuda}]]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" th:href="@{/ubica}">[[#{barra.ubica}]]</a>
                                        </li>
                                        <div sec:authorize="hasRole('ROLE_VENDEDOR')">
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{/pedidos}">[[#{admin.pedidos}]]</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{/inventario}">[[#{admin.inventario}]]</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{/usuarios}">[[#{admin.usuarios}]]</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{/reportes}">[[#{admin.reportes}]]</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </section>
        </div> 


        <!--Footer fragment-->
        <footer th:fragment="footer" class="text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <div class="row">
                    <div class="col-lg-6">
                        <form>
                            <label class="py-3">[[#{pie.subscribete}]]</label>
                            <div class="d-flex">
                                <input type="email" placeholder="Ingrese su correo electrónico" class="form-control mx-3">
                                    <a th:href="@{/login}"><button>Enviar</button></a>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-6">
                        <label class="py-3">[[#{pie.redes}]]</label>
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                    class="fab fa-facebook-f"></i></a>
                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                    class="fab fa-instagram"></i></a>

                        </section>
                    </div>
                </div>
            </div>
            <div class="text-center internal-footer p-3" >
                © 2023 [[#{pie.copy}]]:
                <a class="text-white">Universidad Fidélitas</a>
            </div>
        </footer>
    </body>
</html>
