<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet center</title>  
    </head>    
    <body>
        
         <nav th:replace="~{layout/components :: navbar }"></nav>
        <main class="ayuda">
            
            <div style="text-align: center; width: 50%; margin: 0 auto;"> 
                <h2>Centro de Ayuda</h2>
                </div>
            
                <section  class="container" >
                    <details>
                        <summary>¿Como puedo realizar una compra?</summary>
                        <p > </p>
                        <p>Para poder comprar en nuestra pagina, lo primero que tienes que hacer es buscar el producto que mas te guste
                        y seleccionarlo, una vez seleccionado se va a desplegar una serie de opciones en las cuales va a estar la opcion de comprar.</p>
                    </details>

                    <details>
                        <summary>¿Cuales son los metodos de pago disponibles?</summary>
                        <p > </p>
                       
                        <p>
                            
                            -Pago con tarjeta
                        </p>
                        <p>
                            -Pago con sinpe
                        </p>
                        <p>
                            -Pago en la caja
                            
                        </p>
                    </details>
                    <details>
                        <summary>¿Cuando tarda en lleagr mi pedido?</summary>
                        <p > </p>
                        <p >Una vez hagas el pedido, este sera enviado en un plaazo de 3 a 5 dias laborables</p>
                    </details>
                  

                </section>

               
        </main>
        <footer th:replace="~{layout/components :: footer}"></footer> 
    </body>
</html>

