<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet center</title>  
    </head>    
    <body>
        
         <nav th:replace="~{layout/components :: navbar }"></nav>
        <main class="ayuda">
            
            <div style="text-align: center; width: 50%; margin: 0 auto;"> 
                <h2>Centro de Ayuda</h2>
                </div>
            
                <section  class="acordeon text-center" >
                    <details>
                        <summary>¿Como puedo realizar una compra?</summary>
                        <p>Seleccionas el producto que deseas comprar y luego seleccionas la opcion de compra.</p>
                    </details>

                    <details>
                        <summary>Cuales son los metodos de pago disponibles</summary>
                        <p>Respuesta a la pregunta</p>
                    </details>

                </section>

               
        </main>
        <footer th:replace="~{layout/components :: footer}"></footer> 
    </body>
</html>

