<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de tener una barra lateral con filtros y un boton de agregar que llamará a una ventana modal-->

        <section th:fragment="seccionFiltros" class="barralateral">
            <aside class="productos-lista">
                <!-- Filtro 1 -->
                <div class="card">
                    <div class="card-body">

                        <!-- Boton Agregar Producto -->
                        <div class="d-flex justify-content-start align-items-start mb-3">
                            <button                            type="button"
                                                               class="button-art btn-block"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#agregarProducto">
                                <i class="fas fa-plus"></i> [[#{producto.agregar}]]</button>
                        </div>
                        <br/>


                        <h5>[[#{filtro.categoria}]]</h5>
                        <section th:fragment="categoriasTabs" id="categorias">
                            <div class="row py-4">
                                <ul>
                                    <li id="li-1">
                                        <a id="a-1"
                                           aria-current="page"
                                           href="/producto/listado"
                                           >[[#{pruebas.todas}]]</a>
                                    </li>
                                    <li th:each="categoria : ${categorias}" id="li-1">
                                        <a id="a-1"
                                           th:href="@{/producto/listado/}+${categoria.idCategoria}"
                                           >[[${categoria.descripcion}]]</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>




                    <!-- Filtro 2 -->

                    <div class="card-body">
                        <form method="post"
                              th:action="@{/pruebas/query1}">
                            <div class="card-body">
                                <div class="mb-2">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number"
                                           class="form-control"
                                           name="precioInf"
                                           th:value="${precioInf}"
                                           required="true"/>
                                </div>
                                <div class="mb-2">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number"
                                           class="form-control"
                                           name="precioSup"
                                           th:value="${precioSup}"
                                           required="true"/>
                                </div>
                                <div class="mb-2 text-center">
                                    <button type="submit" class="btn btn-primary art-btn2-fil">
                                        <i class="fas fa-check"></i> [[#{pruebas.ampliadas}]]
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br/>




                    <br/>
                </div>

            </aside>
        </section>





        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                    <select class="form-select" aria-label="Default select example" name="categoria.idCategoria">
                                        <option th:each="c : ${categorias}"
                                                th:value="${c.idCategoria}"
                                                th:text="${c.descripcion}">                                                    
                                        </option>
                                    </select>
                                </div>                                
                                <div class="mb-3">
                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{producto.detalle}]]</label>
                                    <textarea class="form-control" name="detalle" rows="3"></textArea>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{producto.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="existencias">[[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>                                
                                <div class="mb-3">
                                    <label for="activo">[[#{producto.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        
        
        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
       <section th:fragment="listadoProductos" id="contenido">
                    <div class="container ">
                        <div class="row">
                            <div th:if="${productos != null and !productos.empty}">
                                <div class="row row-cols-4">
                                    <div class="card mb-3" th:each="p :${productos}">
                                        <figure>
                                            <img
                                                th:src="${p.rutaImagen}"
                                                class="card-img-top"
                                                alt="..."
                                                height="300"/>

                                            <figcaption>
                                                ₡[[${p.precio}+'('+${p.existencias}+')']]
                                                <a th:href="@{/producto/eliminar/}+${p.idProducto}">
                                                    <i class="fas fa-trash"></i></a>
                                                <a th:href="@{/producto/modificar/}+${p.idProducto}">
                                                    <i class="fas fa-pencil"></i></a>
                                            </figcaption>

                                        </figure>
                                        <div class="card-header">
                                            <h5 class="card-title">[[${p.descripcion}]]</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">[[${p.detalle}]]</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center mb-2">
                                            <button>Agregar al carrito</button>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/producto/guardar}" 
                          th:object="${producto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{producto/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                                    <select class="form-select" aria-label="Default select example" name="categoria.idCategoria">
                                                        <option th:each="c : ${categorias}"
                                                            th:value="${c.idCategoria}"
                                                            th:text="${c.descripcion}">                                                    
                                                        </option>
                                                    </select>
                                                </div> 
                                                <div class="mb-3">
                                                    
                                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                 <div class="mb-3">
                                                    <label for="detalle">[[#{producto.detalle}]]</label>
                                                    <textarea class="form-control" name="detalle" rows="3"></textArea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{producto.precio}]]</label>
                                                    <input type="number" class="form-control" name="precio" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias">[[#{producto.existencias}]]</label>
                                                    <input type="number" class="form-control" name="existencias" required="false"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{producto.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
