<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet center</title>
    </head>
    <body>
        <nav th:replace="~{layout/components :: navbar }"></nav>
        <main>


            <div class="contenedor">
                <section th:fragment="seccionFiltros" class="barralateral">
                    <aside class="productos-lista">
                        <!-- Filtro 1 -->
                        <div class="card">
                            <div class="card-body">
                                <div class="input-group mb-2">
                                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <button type="button" class="btn btn-outline-primary art-btn1-fil" data-mdb-ripple-init>search</button>
                                </div>
                                <br/>


                                <h5>[[#{filtro.categoria}]]</h5>
                                <section th:fragment="categoriasTabs" id="categorias">
                                    <div class="row py-4">
                                        <ul>
                                            <li id="li-1">
                                                <a id="a-1"
                                                   aria-current="page" 
                                                   href="/producto/listado"
                                                   >[[#{pruebas.todas}]]</a>
                                            </li>
                                            <li th:each="categoria : ${categorias}" id="li-1">
                                                <a id="a-1"
                                                   th:href="@{/producto/listado/}+${categoria.idCategoria}"
                                                   >[[${categoria.descripcion}]]</a>
                                            </li>                    
                                        </ul>
                                    </div>
                                </section>
                            </div>




                            <!-- Filtro 2 -->
                            <div class="card-body">
                                <form method="post"
                                      th:action="@{/pruebas/query1}">
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                            <input type="number" 
                                                   class="form-control" 
                                                   name="precioInf" 
                                                   th:value="${precioInf}"
                                                   required="true"/>
                                        </div>
                                        <div class="mb-2">
                                            <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                            <input type="number" 
                                                   class="form-control" 
                                                   name="precioSup"
                                                   th:value="${precioSup}"
                                                   required="true"/>
                                        </div>
                                        <div class="mb-2 text-center">
                                            <button type="submit" class="btn btn-primary art-btn2-fil">
                                                <i class="fas fa-check"></i> [[#{pruebas.ampliadas}]]                                        
                                            </button>
                                        </div>
                                    </div>                                  
                                </form>
                            </div>
                            <br/>



                            <!-- Filtro 3 -->
                            <div class="card-body">
                                <h5>[[#{filtro.marcas}]]</h5>                            
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="nuestras" id="nuestras">
                                        <label class="form-check-label" for="nuestras">
                                            [[#{marcas.nuestras}]]
                                        </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="premium" id="premium">
                                        <label class="form-check-label" for="premium">
                                            [[#{marcas.premium}]]
                                        </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="top" id="top">
                                        <label class="form-check-label" for="top">
                                            [[#{marcas.top}]]
                                        </label>
                                </div>
                            </div>
                            <br/>
                        </div>

                    </aside>
                </section>


                <section th:fragment="listadoProductos" id="contenido">
                    <div class="container ">
                        <div class="row">
                            <div th:if="${productos != null and !productos.empty}">
                                <div class="row row-cols-4">
                                    <div class="card" th:each="p :${productos}">
                                        <figure>
                                            <img 
                                                th:src="${p.rutaImagen}" 
                                                class="card-img-top" 
                                                alt="..."
                                                height="300"/>
                                        </figure>
                                        <div class="card-header">
                                            <h5 class="card-title">[[${p.descripcion}]]</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">[[${p.detalle}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                        <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </section>     
            </div>



        </main>                 
        <footer th:replace="~{layout/components :: footer }"></footer>
    </body>
</html>
