<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}">
        <title>Outlet center</title>
        <link href="../static/csc/index.css" rel="stylesheet" type="text/css"/>
    </head> 
    <body>
        <div>
            <h1>Accesibility testing</h1>
            <h2>Accesibility testing</h2>
            <h3>Accesibility testing</h3>
            <p>Accesibility testing</p>
        </div>
    </body>
</html>
